src/PC.Framework/IoC/KernelConfigSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:PebbleCode.Framework.IoC" elementFormDefault="qualified" targetNamespace="urn:PebbleCode.Framework.IoC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ioCKernelConfiguration" type="tns:PebbleCode.Framework.IoC.IoCKernelConfigurationCT" />
	<xs:complexType name="PebbleCode.Framework.IoC.IoCKernelConfigurationCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="bindingAssemblys" type="tns:PebbleCode.Framework.IoC.BindingAssemblysCT">
				<xs:annotation>
					<xs:documentation>The BindingAssemblys.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PebbleCode.Framework.IoC.BindingAssemblysCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="assembly" type="tns:PebbleCode.Framework.IoC.BindingAssemblyCT">
				<xs:annotation>
					<xs:documentation>The BindingAssembly Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PebbleCode.Framework.IoC.BindingAssemblyCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="assembly" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Assembly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
